
//navbar
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #0F574B;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#footer-sticky {
  position: fixed;
  bottom: 0;
  width: 100%;

}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1eaea;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111111;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


//create
td:first-child, td:nth-child(3) {
  line-height: 40px;
}

input, select {
  box-shadow: 2px 1px #637fff;
}
.myForm{
  background-color: rgba(0,0,0,0.5) !important;
  padding: 15px !important;
  border-radius: 15px !important;
  color: white;

}
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container 		{
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:25px;
}
input, select {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:450px;
  border:none;
  border-bottom:1px solid #757575;
}
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:450px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
input:focus 		{ outline:none; }
select:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.4s ease all;
  -moz-transition:0.4s ease all;
  -webkit-transition:0.4s ease all;
}

/* active state */
input:focus ~ label, input:visited ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
select:focus ~ label, select:visited ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
.forError{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar:before {
  right:50%;
}
.bar:after {
  left:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
select:focus ~ .bar:before, select:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
