<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<form action="/product/delete" method="post" th:object="${product}">
    <table>
        <tr>
            <td>id</td>
            <td ><input type="text" th:field="*{id}" readonly></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" readonly></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}" readonly></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}" readonly></td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td><input type="text" th:field="*{manufacturer}" readonly></td>
        </tr>
        <tr>
            <td><a href="/">Back list</a></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>

</form>

</body>
</html>