<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h2>Edit new product</h2>
<h1 th:text="${msg}"></h1>
<form action="/update" method="post" th:object="${productDto}">
    <table>
        <tr>
            <td></td>
            <td><input type="text" th:field="*{id}" hidden></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
            <td><span style="color: red"  th:errors="*{name}"></span></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" th:field="*{price}"></td>
            <td><span style="color: red"  th:errors="*{price}"></span></td>

        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"></td>
            <td><span style="color: red"  th:errors="*{description}"></span></td>

        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
            <td><span style="color: red"  th:errors="*{manufacturer}"></span></td>
        </tr>
        <tr>
            <td><a href="/">Back list</a></td>
            <td><input type="submit" value="edit"></td>
        </tr>
    </table>
</form>
</body>
</html>