<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
</head>

<body>
<p>
    <a th:href="@{/product/create}">
        Add new customer
    </a>
</p>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table class="" border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
    <!--    <tr th:each="row,rowStat : ${customers}">-->

    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.manufacturer}"></td>
        <td th:text="${row.date}"></td>
        <td>
            <a  th:href="@{/product/{id}/show(id=${row.getId()})}">Show</a>
            <a  th:href="@{/product/{id}/edit(id=${row.getId()})}">Edit</a>
            <a   th:href="@{/product/{id}/delete(id=${row.getId()})}">Delete</a>
        </td>
    </tr>
    </tbody>

</table>
<div>
    <a th:href="@{'/product'(page=${products.number - 1}, search=${search})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product'(page=${products.number + 1}, search=${search})}" th:if="${products.hasNext()}">Next</a>
</div>

<p>
    <span th:each="pageNo : ${#numbers.sequence(0, products.totalPages -1)}" >
        <a th:href="@{'/product'(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
</p>
</body>
</html>