<app-header></app-header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="nav-link " href=""> <span class="glyphicon glyphicon-home"></span> &nbsp;Home</a> <br> <br>
  <a class="nav-link " href="/customer">Customer</a> <br>
  <a class="nav-link" href="/employee">Employee</a> <br>
  <a class="nav-link" href="/service">Service</a> <br>
</div>
<nav class="navbar navbar-expand-lg navbar-dark  container-fluid font-weight-bolder px-0 text-white" id="navbar"
     style=" height: 47px;background: #0F574B">
  <div class="collapse navbar-collapse col-4 " id="navbarsExample07">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active px-3">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </li>
      <!--      <li class="nav-item active px-5">-->
      <!--        <a href="/customer/create">Create new customer</a>-->
      <!--      </li>-->
    </ul>

  </div>
  <div class="form-inline my-2   col-4  ">
    <input type="text" placeholder="Search">
  </div>
  <div class="col-4 ">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>
<img src="assets/furama-body.png" height="596" width="1356"/>
<img src="assets/furama-body2.png" height="596" width="1360"/>
<app-root></app-root>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  }

</script>
