<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{list.title}"></title>
    <link rel="stylesheet" href="/md_bootstrap/mdb.min.css">
    <script src="/md_bootstrap/mdb.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid ">
        <div class="col-8"></div>
        <ul class="navbar-nav col-3">
            <!-- Icon dropdown -->
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="?lang=vn"
                        id="navbarDropdown"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    Change language
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="?lang=vn"
                        ><i class="vietnam  flag"></i>VietNamese
                            <i class="fa fa-check text-success ms-2"></i
                            ></a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="?lang=jp"><i class="japan flag"></i>Japanese</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<a href="/create-customer" th:text="#{list.create}"></a>
<h1 th:text="#{list.customer}"></h1>
<form>
    <span th:text="#{list.searchByName}"></span>
    <input name="search" type="text"/>
    <input type="submit" th:value="#{list.search}"/>
</form>
<table class="table-bordered">
    <tr>
        <th th:text="#{list.firstname}"></th>
        <th th:text="#{list.lastname}"></th>
        <th th:text="#{list.province}"></th>
        <th th:text="#{list.edit}"></th>
        <th th:text="#{list.delete}"></th>

    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }" th:text="#{list.edit}"></a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }" th:text="#{list.delete}"></a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>