<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day" width="400px" height="400px">
<div>
    <form th:action="@{/imgOfDay/comment}" method="post" th:object="${comment}">
        <div>
            <label for="rate">Rate</label>
            <select id="rate" th:field="*{rate}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div>
            <label for="author">author</label>
            <input id="author" type="text" th:field="*{author}"/>
        </div>
        <div>
            <label for="feedBack">feedBack</label>
            <input id="feedBack" type="text" th:field="*{feedBack}"/>
        </div>
        <input type="submit" value="comment">
    </form>
</div>


<p th:each="comment,status:${listComment}">
    Stt:
    <th:block th:text="${status.count}"></th:block>---
    Author:
    <th:block th:text="${comment.author} "></th:block>---
    Comment:
    <th:block th:text="${comment.feedBack} "></th:block>---
    Rate:
    <th:block th:text="${comment.rate} "></th:block>*---
    Like:<th:block th:text="${comment.likee}"></th:block>
    <button type="button" ><a th:href="@{/imgOfDay/like(id=${comment.id})}">Like</a></button>
</p>


<script>
    let query = "https://api.nasa.gov/planetary/apod?api_key=oLb1pmjLGAFKMC3REHBUCtzjrTNE8XYKlxC08ECR";
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>

</body>
</html>