<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day" width="200px" height="200px">
<div id="form">
<form th:action="@{/imgOfDay/comment}" method="post" th:object="${comment}">
    <div>
        <label for="rate"></label>
        <select id="rate" th:field="*{rate}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <label for="author">author</label>
        <input id="author" type="text" th:field="*{author}"/>
    </div>
    <div>
        <label for="feedBack">feedBack</label>
        <input id="feedBack" type="text" th:field="*{feedBack}"/>
    </div>
</form>
</div>








<script>
    let query = "https://api.nasa.gov/planetary/apod?api_key=oLb1pmjLGAFKMC3REHBUCtzjrTNE8XYKlxC08ECR";
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>