<!--<div class="container" style="margin-top: 120px">-->
<!--  <h2 class="text-center">Edit Customer</h2>-->
<!--  <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="editCustomer()">-->
<!--    <div class="form-group">-->

<!--      <input type="text" class="form-control" id="id" formControlName="id" readonly>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="code">Code</label>-->
<!--      <input type="text" class="form-control" id="code" formControlName="code">-->
<!--      <div *ngIf="!editForm.controls.code?.valid && (editForm.controls.code?.dirty || editForm.controls.code?.touched)">-->
<!--        <div [hidden]="!editForm.controls.code.errors.required">-->
<!--          <small style="color: red"> not empty</small>-->
<!--        </div>-->
<!--        <div [hidden]="!editForm.controls.code.errors.pattern">-->
<!--          <small style="color: red"> input valid </small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label  for="customerType"> Customer Type</label>-->
<!--      <select id="customerType" class="form-control" formControlName="customerType" [compareWith]="compareFn">-->
<!--        <ng-container *ngFor="let c of customerTypes">-->
<!--          <option [ngValue]="c">{{c.name}}</option>-->
<!--        </ng-container>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="name">Name</label>-->
<!--      <input type="text" class="form-control" id="name" formControlName="name">-->
<!--      <div *ngIf="!editForm.controls.name?.valid && (editForm.controls.name?.dirty || editForm.controls.name?.touched)">-->
<!--        <small [hidden]="!editForm.controls.name.errors.required" style="color: red"> not empty</small>-->
<!--        <small [hidden]="!editForm.controls.name.errors.minLength" style="color: red"> input valid </small>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="birthday">Birthday</label>-->
<!--      <input type="date" class="form-control" id="birthday" formControlName="birthday">-->
<!--      <div *ngIf="!editForm.controls.birthday?.valid && (editForm.controls.birthday?.dirty || editForm.controls.birthday?.touched)">-->
<!--        <small  style="color: red"> select birthday</small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="idCard">ID Card</label>-->
<!--      <input type="text" class="form-control" id="idCard" formControlName="idCard">-->
<!--      <div *ngIf="!editForm.controls.idCard?.valid && (editForm.controls.idCard?.dirty || editForm.controls.idCard?.touched)">-->
<!--        <small [hidden]="!editForm.controls.idCard.errors.required" style="color: red"> not empty</small>-->
<!--        <small [hidden]="!editForm.controls.idCard.errors.pattern" style="color: red"> input valid </small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="phoneNumber">Phone Number</label>-->
<!--      <input type="text" class="form-control" id="phoneNumber" formControlName="phone">-->
<!--      <div *ngIf="!editForm.controls.phone?.valid && (editForm.controls.phone?.dirty || editForm.controls.phone?.touched)">-->
<!--        <small [hidden]="!editForm.controls.phone.errors.required" style="color: red"> not empty</small>-->
<!--        <small [hidden]="!editForm.controls.phone.errors.pattern" style="color: red">input valid</small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="email">Email</label>-->
<!--      <input type="text" class="form-control" id="email" formControlName="email">-->
<!--      <div *ngIf="!editForm.controls.email?.valid && (editForm.controls.email?.dirty || editForm.controls.email?.touched)">-->
<!--        <small [hidden]="!editForm.controls.email.errors.required" style="color: red"> Not empty</small>-->
<!--        <small [hidden]="!editForm.controls.email.errors.email" style="color: red"> pattern  email</small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="address">Address</label>-->
<!--      <input type="text" class="form-control" id="address" formControlName="address">-->
<!--      <div *ngIf="!editForm.controls.address?.valid && (editForm.controls.address?.dirty || editForm.controls.address?.touched)">-->
<!--        <small [hidden]="!editForm.controls.address.errors.required" style="color: red"> Not empty </small>-->
<!--        <small [hidden]="!editForm.controls.address.errors.minlength" style="color: red"> character >5  </small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div style="float: right">-->
<!--      <button type="submit" class="btn btn-primary"  [disabled]="!editForm.valid">Edit</button>-->
<!--      <button routerLink="/customer" class="btn btn-primary">Cancel</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
